*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	list-style: none;
	vertical-align: top;
	color: white;
}

/* Barra de navegación mobile */

header{
	z-index: 100;
}
nav{
	height: 70px;
	background-color: #1174E0;
	position: relative;
	z-index: 100;
	box-shadow: 0px 3px 10px black;
}
#skape{
	position: absolute;
	color: white;
	left: 15px;
	top: 10px;
	z-index: 1000;
	font-size: 1em;
	width: 100px;
	height: 65px;
	padding-left: 80px;
	padding-top: 15px;
	background: url('../Imagenes/logo.png') no-repeat;
	background-size: 73px 80px;
}
#abrir{
	display: block;
	position: absolute;
	height: 50px;
	top: 25px;
	right: 20px;
	opacity: 1;
	-webkit-transition: opacity ease .5s;
	-moz-transition: opacity ease .5s;
	transition: opacity ease .5s;
	z-index: 1000;
}
#cerrar{
	display: none;
	z-index: 1000;
}
#botones{
	width: 100%;
	min-height: 650px;
	position: absolute;
	opacity: 0.95;
	border-top: grey 1px solid;
	top: -800px;
	transition: all ease-out 1s 0s;
	-webkit-transition: all ease-out 1s 0s;
	-moz-transition: all ease-out 1s 0s;
	background: #1174E0;
}
#botones li{
	font-size: 1em;
	box-sizing: border-box;
}
#botones li:nth-of-type(2), #botones li:nth-of-type(3), #botones li:nth-of-type(4), #botones li:nth-of-type(5),#botones li:nth-of-type(6){
	padding-top: 110px;
}
#botones li a{
	color: white;
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	position: absolute;
	text-align: center;
	padding-top: 40px;
	transition: all ease .5s;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	font-weight: bold;
}
#botones li a:hover{
	background-color: #1182E0;
}
nav:target #botones{
	top: 68px;
}
nav:target #abrir{
	opacity: 0;
}
nav:target #cerrar{
	display: block;
	position: absolute;
	height: 50px;
	top: 20px;
	right: 20px;
	-webkit-transition: opacity ease .5s;
	-moz-transition: opacity ease .5s;
	transition: opacity ease .5s;
}

/* Cuerpo de página */


/**/

main{
	position: relative;
}
#wrapper a:first-of-type{
	background: url('../Imagenes/galeria/themes.gif');
}
#wrapper a:nth-of-type(2){
	background: url('../Imagenes/galeria/themes2.gif');
}
.callbacks .caption{
	width: 100%;
}
h2{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 20px;
	color: white;
	font-size: 1.3em;
}
p{
	color: white;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 50px;
}
.adminLink{
	padding: 10px;
	background: #1174E0;
	border-radius: 3px;
	position: absolute;
	top: 80px;
	right: 10px;
	z-index: 1000000;
}
.pindex{
	margin-bottom: 5px;
}
.pindex:last-child{
	margin-bottom: 10px;
}
.pindex2{
	margin-bottom: 50px;
}
#descr{
	margin: auto;
	max-width: 960px;
}
#descr img{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 20px;
}
.noticia{
	width: 90%;
	margin-left: 5%;
	margin-bottom: 10px;
	overflow: hidden;
	border-bottom: 1px solid grey;
}
.noticia div img{
	width: 100%;
}
.textoNoticia{
	width: calc(100% - 120px);
	margin-left: 0;
	margin-bottom: 20px;
}
.textoNoticia h3{
	width: 95%;
}
.textoNoticia h3, .textoNoticia p{
	word-wrap: break-word;
}
.textoNoticia p{
	margin-left: 0;
	margin-bottom: 0;
	width: 95%;
	display: block;
}
.imgNoticia{
	width: 120px;
	height: 90px;
	margin-top: 5px;
	overflow: hidden;
	margin-bottom: 10px;
}
.textoNoticia, .imgNoticia{
	display: inline-block;
	vertical-align: top;
}
.textoNoticia p > a:last-child{
	color: #1174E0;
}
footer{
	text-align: center;
	background: #1174E0;
	width: 100%;
}
footer h3{
	padding-top: 7px;
	padding-left: 10px;
}
footer h3, footer ul, footer li{
	display: inline-block;
	margin: 5px;
}
#equipo, .clases{
	width: 100%;
}
#equipo p{
	margin-bottom: 20px;
}
#equipo img{
	width: 100%;
	margin-bottom: 20px;
}
#equipo > h2, #contNoticias > h2, .clases h2{
	margin-top: 30px;
}
.clases h3{
	width: 90%;
	margin: auto;
	text-align: left;
}
.clases > a:first-of-type{
	margin-left: 5%;
}
.clases div{
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
}
.clases div:last-child{
	border-bottom: none;
}
#equipo h2, #equipo > p:first-of-type{
	margin-left: 20px;
}
#equipo > div, .liclases{
	width: 90%;
	margin: auto;
	border-bottom: 1px solid #363636;
}
.liclases{
	font-size: 1.5em;
	margin-bottom: 20px;
}
#equipo > div p:first-of-type{
	margin-bottom: 10px;
	margin-top: 10px;
}
#equipo > div p, #equipo > div h3{
	margin-left: 0;
}
#equipMuestra li img{
	width: 100%;
	margin-bottom: 20px;
}
.clases h3{
	margin-bottom: 15px;
	font-size: 1.2em;
}
.clases p{
	margin-bottom: 20px;
	width: 90%;
}
.clases ul{
	margin-bottom: 50px;
}
.clases li{
	margin-bottom: 30px;
}
.clases div:first-of-type{
	margin-top: 20px;
}
.dias{
	margin-left: 30px;
	margin-right: 30px;
	max-width: 620px;
}
.dias li{
	display: inline-block;
	margin-right: 5px;
}
.dias li a{
	padding: 10px 20px;
	border-radius: 2px;
	background: #666666;
	color: white;
}
input[type='text'], input[type='password'], input[type='mail'], textarea{
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	color: white;
	font-size: .8em;
	width: 100%;
	line-height: 25px;
}
input, textarea:focus{
	outline: none;
}
input[type='submit']{
	border: none;
	padding: 5px;
	background: white;
	font-size: 1em;
	color: #1174E0;
	border-radius: 3px;
}
#ingresar, #registro{
	width: 90%;
	max-width: 350px;
	margin: auto;
	margin-top: 70px;
	margin-bottom: 180px;
	background: #1174E0;
	border-radius: 5px;
}
#ingresar h2, #registro h2{
	padding-top: 30px;
	margin-left: 5%;
}
#ingresar p, #registro p{
	margin-bottom: 5px;
	margin-left: 5%;
	padding: 5px 0;
}
#ingresar div:first-of-type > input, #registro > form > div:first-of-type > input{
	width: 90%;
	height: 25px;
	margin-left: 5%;
	margin-bottom: 20px;
	padding: 0;
}
input[type='date']{
	width: auto;
	margin-left: 5%;
	color: black;
}
#enviar{
	height: 30px;
	width: 90%;
	margin-left: 5%;
	margin-bottom: 30px;
	margin-top: 30px;
	padding-bottom: 7px;
}
#ingresar a, #registro a{
	width: 90%;
	margin-left: 5%;
	text-align: right;
	display: block;
}
#ingresar a:hover, #registro a:hover{
	text-decoration: underline;
}
#registroOk{
	font-size: 1em;
	color: #1BBC31;
	width: 90%;
	margin-left: 5%;
}
.selecc{
	border-bottom: 1px solid white;
}
.noselecc{
	text-decoration: line-through;
}
#abm h2{
	margin-top: 20px;
}
#abm tr a{
	padding: 3px;
}
#abm > div a{
	margin-left: 20px;
	width: 200px;
}
#abm > div:first-of-type{
	margin-top: 30px;
}

#abm table{
	width: 100%;
	margin-bottom: 50px;
	margin-top: 20px;
	border-radius: 5px;
}
#abm table img{
	width: 100px;
}
tr > td:nth-of-type(4){
	padding-right: 5px;
	max-width: 200px;
}
td{
	word-wrap: break-word;
}
td:nth-of-type(3){
	width: 100px;
}
td > a{
	display: block;
}
td:last-child{
	width: 70px;
}
#listado-noticias td:nth-of-type(5){
	min-width: 100px;
	text-align: center;
}
#form{
	margin: auto;
	min-width: 200px;
	max-width: 350px;
	margin-top: 50px;
	margin-bottom: 100px;
	background: #1174E0;
	padding: 40px;
	border-radius: 10px;
}
#form h2{
	margin-left: 0;
}
#form input, textarea{
	display: block;
	margin-top: 10px;
	margin-bottom: 20px;
}
#form p{
	margin-bottom: 10px;
	margin-left: 0;
}
#form img{
	width: 120px;
}
textarea{
	resize: none;
	height: 50px;
	width: 100%;
	transition: all ease-out .5s;-moz-transition: all ease-out .5s;-webkit-transition: all ease-out .5s;
}
textarea:focus{
	height: 100px;
}
#form select{
	color: black;
}
.form2 input[type='text'], .form2 textarea{
	width: 90%;
	padding: 3px;
}
.buttonFooter{
	border: 1px solid white;
	border-radius: 5px;
	padding: 5px;
	display: inline-block;
	width: 100px;
	margin-top: 0px;
}
.bienvenida{
	font-size: 30px;
	margin-bottom: 10px;
}
.us{
	text-transform: uppercase;
	color: #1174E0;
}
.error{
	color: #721310;
	font-weight: bold;
	font-size: 20px;
}
.enviado{
	font-size: 20px;
	font-weight: bold;
	color: #3BAD50;
}
.naveg{
	margin-left: 50px;
}
.noenc{
	margin-top: 150px;
	text-align: center;
	margin-bottom: 350px;
}
.modrealizada{
	margin-bottom: 10px;
	font-weight: bold;
	color: green;
	width: 200px;
	margin-left: 5%;
}
.pageSelect{
	color: #1174E0;
	border-radius: 2px;
	padding: 5px 10px;
	margin-top: -5px;
}
.paginas{
	margin: auto;
	max-width: 900px;
	text-align: center;
}
.paginas li{
	display: inline-block;
	margin-bottom: 20px;
}
.paginas li a{
	padding: 5px;
	margin: 5px;
}
.primeraUltima{
	padding: 0 10px;
	color: grey;
}
#equipo, #contNoticias, .clases, #noticia, #abm{
	min-height: 600px;
}
#contNoticias > h2{
	color: grey;
	margin-bottom: 20px;
}
#noticia{
	max-width: 900px;
	margin: auto;
}
.noticiaImagen{
	text-indent: -99999px;
	height: 250px;
	overflow: hidden;
	box-shadow: 0px 7px 10px #111111;
}
#noticia img{
	width: 100%;
}
#noticia h2, #noticia p{
	word-wrap: break-word;
}
#noticia h2{
	margin-top: 30px
}
#noticia h2 > span{
	display: block;
}
.iframeCont{
	position: relative;
	height: 250px;
	overflow: hidden;
	margin-bottom: 30px;
}
.iframeCont iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 726px){
	
	footer{
		padding: 10px 0;
	}
	footer h3{
		margin-top: 0;
	}
	#equipo, .clases{
		width: 75%;
		margin: auto;
	}
	#equipo > div{
		width: 42%;
		margin: 5% 20px;
		display: inline-block;
	}
	#equipMuestra{
		width: 75%;
		max-width: 960px;
		margin: auto;
	}
	#equipMuestra li{
		width: 40%;
		margin: 20px 5%;
		display: inline-block;
	}
	.clases h2{
		margin-left: 0;
		width: 100%;
	}
	.clases h3{
		width: 93%;
	}
	.clases p{
		margin-left: 30px;
	}
	#abm table{
		width: 90%;
		margin-left: 5%;
	}
	td{
		padding: 5px;
	}
	#abm > a, #abm > div a:first-of-type{
		margin-left: 5%;
	}
	.clases > a:first-of-type{
		margin-left: 0;
	}
.noticiaImagen{
		height: 350px;
	}
	.iframeCont{
		height: 0;
		padding-bottom: 40%;
	}
	.iframeCont iframe{
		width: 80%;
		left: 10%;
	}
}
/* Tablet */
@media screen and (min-width: 468px) and (max-width: 767px){

	#botones{
		width: 60%;
		left: 40%;
	}
	#equipMuestra{
		width: 90%;
		margin: auto;
	}
	.noticiaImagen{
		height: 300px;
	}
	.iframeCont{
		height: 0;
		padding-bottom: 56.25%;
	}

}

@media screen and (min-width: 800px){
	p{
		width: 75%;
		margin-left: 12.5%;
	}
	h2{
		width: 75%;
		margin-left: 12.5%;
	}
	#descr{
		width: 80%;
		margin: auto;
		margin-bottom: 20px;
	}
	#descr img{
		max-width: 390px;
	}
	#textR{
		width: 30%;
		max-width: 600px;
		margin: auto;
		padding-left: 10px;
	}
	.noticia{
		width: 75%;
    	margin-left: 12.5%;
	}
	main > img, #textR{
		display: inline-block;
	}
	#equipo{
		width: 75%;
		margin: auto;
	}
	.clases{
		padding-left: 30px;
	}
	#abm h2{
		margin-left: 5%;
	}
	#noticia h2{
		margin-top: 30px;
	}
	.noticiaImagen{
		width: 80%;
		margin: auto;
	}
	.iframeCont{
		width: 80%;
		left: 10%;
		padding-bottom: 35%;
	}
} 

@media screen and (min-width: 768px) and (max-width: 1099px){	

	#botones{
		width: 40%;
		left: 60%;
	}

}

/* Barra de navegación PC */

@media screen and (min-width: 1100px){	
	
	#abrir, #cerrar{
		display: none!important;
	}
	#botones{
		display: block;
		position: relative;
		right: 0;
		top: 60px!important;
		border: none;
		min-height: 0;
		transition: all ease-out 1s 0s;
		-webkit-transition: all ease-out 1s 0s;
		-moz-transition: all ease-out 1s 0s;
	}
	#botones, #botones li{
		display: inline-block;
	}
	#botones li{
		height: 70px;
		position: absolute;
	}
	#botones li:first-of-type{
		right: 600px;
	}
	#botones li:nth-of-type(2){
		right: 450px;
	}
	#botones li:nth-of-type(3){
		right: 300px;
	}
	#botones li:nth-of-type(4){
		right: 150px;
	}
	#botones li:nth-of-type(5){
		right: 0;
	}
	#botones li a{
		width: 150px;
		top: -60px;
		height: 70px;
		right: 0;
		padding-top: 25px;
		position: absolute;
	}
	#botones li a:hover{
		color: #C9C9C9;
	}
	h2, p{
		max-width: 900px;
		margin: auto;
	}
	h2{
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 30px;
	}
	.noticia{
		max-width: 900px;
		margin: auto;
		margin-bottom: 20px;
	}
	#textR{
		width: 35%;
	}
	#equipo, .clases{
		max-width: 900px;
		margin: auto;
	}
	#equipo > div{
		width: 30%;
		margin: 20px 1%;
	}
	#equipo h2, #equipo > p:first-of-type{
		margin-left: 10px;
	}
}

@media screen and (max-width: 968px){
	footer h3{
		text-align: left;
	}
}